/*main estilos documento css 
    Reset para normalizar las etiquetas
    Variables en el root de color
    Definido en el body la tipografia 
    Se desarrolla el archivo en el mismo orden del html
        header y nav
        Slider 
        Grid con efecto 3d
        Tetimonios
        Footer
        Responsive en 3 medidas (pantallas normales, tablets y móviles) */

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, strong{
    font-size: inherit;
    font-weight: inherit;
}

li {list-style: none;}

a{
    display: block;
    text-decoration: none;
    color: inherit;
}

p a{
    display: inline;
}

img, video, iframe{
    display: block;
    max-width: 100% ;
    width: 100%;
}

svg{
    display: block;
    fill: currentColor;
}
html{
    scroll-behavior: smooth;
}
body{
    height:400vh;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background: #cdd3c7db;
}

:root{

    /* Translate*/
    --level-one: translateZ(6rem);
    --level-two: translateZ(9rem);
    --type-title: 400; 

    /* Colores */
    --darkgreencolor: #384933;
    --coralcolor: #ff6d4e;
    --orangecolor: #ffb06f;
    --greencolor: #929f89;
    --cremecolor: #fbe9d5; 

    /* Border radius en variables en las dos medidas usadas en la web */
    --borderRadius-one: 1rem;
    --borderRadius-two: 2rem;
}

/*Header y Nav*/
/* Se agrega el position fixed para que el menu se quede fijo en el borde superior de la página */
/* Se usa la propiedad z-index para que se sobreponga a otras etiquetas */
.Header{
    width: 100%;
    /* height: 100%; */
    background-color: var(--darkgreencolor);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}
/* Icono hamburguesa que se esconde para la versión ordenador */
.Header-button{
    display: none;
    width: 2rem;
    height: 2rem;
    /* padding: 1rem; */
    background-color: transparent;
    /* background-color: gray; */
}
.Header-wrapper{
    width: 90%;
    /* background-color: blue; */
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Header-a{
    width: 3.2rem;
    height: 3.2rem;
    margin: 1rem;
    position: relative;
}
.Header-nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/* Se usa el position absolute para que se superponga a la imagen y a su segunda parte darle relative y queden al lado */
.Header-title{
    /* width: 100%; */
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 10%;
    left: 60%;
    color: var(--cremecolor);
    font-size: 2rem;
    z-index: 1;
}
.Header-title--part {
    color: var(--coralcolor);
    position: relative;
    top: 0;
    left: 0;
}
.Header-img{
    width: 100%;
    max-height: fit-content;
    filter: invert(53%) sepia(100%) saturate(56%) hue-rotate(52deg) brightness(96%) contrast(88%);
}
.Header-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5rem
}
/* Se usa la propiedad borde transparente para evitar que salte el link cuando hacemos hover por el espesor del mismo */
.Header-link{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--cremecolor);
    border-bottom: 2px solid transparent;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    
}
/* Cuando hacemos hover sobre los links del nav aparece el borde inferior */
.Header-link:hover{
    border-bottom: .125rem solid var(--cremecolor);
}
.Header-link:active{
    border-bottom: .125rem solid var(--coralcolor);
}

/* Secciòn Slider buscamos darle ancho y alto para que sea lo primero que se vea en la web al cargar */
.Slider{
    width: 100%;
    /* min-height: 50%; */
    /* background-color: violet; */
    margin: auto;
    position: relative;
}
/* Se le da un alto de 93vh ya que en la pantalla de macbook se ve de borde a borde que seria el efecto buscado. */
/* FIX: buscar la forma de no depender de una altura para lograr el mismo efecto en todas las pantallas */
.Slider-img{
    width: 100%;
    /* background-color: gray; */
    height:100%;
    /* opacity: 1; */
    /* position: absolute; */
    /* top: 0; */
    object-fit: cover;
}
.Slider-diapositiva{
    width: 100%;
    height:93vh;
    opacity: 0;
    position: absolute;
    top: 0;
    object-fit: cover;
    border-radius: 2rem;
}
.Slider-diapositiva.isActive{
    opacity: 1;
}
.Slider-static{
    position: static;
}
.Slider-title{
    /* width: 30%; */
    position: absolute;
    left: 5rem;
    bottom: 5rem;
    padding: .7rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: var(--cremecolor);
    color: var(--darkgreencolor);
}
.Slider-title.isActive{
    display: block;
}
.Slider-icon{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--cremecolor);
    border-radius: 2rem;
    padding: .5rem;
    position: absolute;
    top: calc(50% - 2.80rem);
    margin: 0 .8rem;
}
.Slider-next{
    right: 0;
}
.Slider-ul{
    width: 100%;
    /* background-color: aquamarine; */
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    padding: 1.5rem 0;
}
.Slider-point{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--darkgreencolor);
    border-radius: 2rem;
    margin: 0 0 4rem 0;
}
.Slider-point.isActive{
    background-color: var(--greencolor);
    
}

/* Section Grid imagenes con tabs */
/* Se divide el grid en 3 columnas iguales */
/* Se usa un filtro de grises para homogenizar todas las fotos */
.Grid-wrapper{
    width: 70%;
    min-height: 180vh;
    margin: 3rem auto 12rem auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem;
    filter: grayscale(40%);
}
.Grid-title{
    width: 70%;
    margin: auto;
}
.Grid-h2{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--darkgreencolor);
    border-bottom: 1.7px solid var(--coralcolor);
    font-family: 'Playfair Display', serif;
}
/* Se usa la pripiedad preserve-3d para darle un efecto al card. Buscamos que los hijos actuen de manera independiente al contenedor padre */
.Card-content{
    height: 100%;
    /* background-color: pink; */
    position: relative;
    transition: transform 1.8s;
    transform-style: preserve-3d;
}
/* Cuando hacemos hover el card gira 180grados para poder ver el contenido */
.Card:hover .Card-content{
    transform: rotateY(180deg);
}
.Card-front,
.Card-back{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    padding: 1em ;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: flex-start;
    border-radius: 1rem;
    /* box-shadow: 9px 9px 15px -5px gray; */
}
.Card-front{
    /* background-color: #848683; */
    background-size: cover;
    background-position: center;
    /* background-blend-mode: overlay; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

/* Usamos las fotos como bacground en cada card y se le agrega un modificador a cada clase que es agregada en el HTML */
.Card-front--valencia{
    background-image: url(../assets/Valencia.jpg)
}
.Card-front--madrid{
    background-image: url(../assets/Madrid1.webp)
}
.Card-front--barcelona{
    background-image: url(../assets/Barcelona11.webp);
}
.Card-front--bilbao{
    background-image: url(../assets/Bilbao2.webp);
}
.Card-front--mallorca{
    background-image: url(../assets/Mallorca5.jpeg);
}
.Card-front--gijon{
    background-image: url(../assets/Gijon.webp);
}
.Card-front--ponferrada{
    background-image: url(../assets/Pontferrada_11.webp);
}
.Card-front--antequera{
    background-image: url(../assets/AntequeraTorcal1.webp);
}
.Card-front--malaga{
    background-image: url(../assets/Malaga11.webp)
}
.Card-h3{
    font-size: 1.3rem;
    transform: var(--level-one);
    text-transform: uppercase;
    background-color: var(--cremecolor);
    color: var(--darkgreencolor);
    order: 2;
    font-weight: 300;
    margin-bottom: 2rem;
    padding: .8rem;
    border-radius: 2rem;
}
.Card-text{
    width: 85%;
    margin: 5rem auto 1.3rem ;
    transform: var(--level-two);
    color: var(--cremecolor);
    font-size: 1em;
    font-weight: 200;
    border: 1px solid var(--cremecolor);
    border-radius: 2rem;
    padding: 1rem;
}
.Card-back{
    transform: rotateY(180deg);
    background-color: var(--darkgreencolor);
}
.Card-button{
    width: 80%;
    padding: 1.2rem;
    background-color: var(--darkgreencolor);
    border: .125rem solid var(--cremecolor);
    margin: auto;
    color: var(--cremecolor);
    font-size: 1rem;
    font-weight: 200;
    border-radius: 1.5rem;
    transform-style: preserve-3d;
    transform: var(--level-two);
}
.Card-button:hover{
    background-color: var(--greencolor);
}
.Card-button:active{
    background-color: var(--coralcolor);
    color: var(--darkgreencolor);
}

/* Secciòn testimonios usuarios */
.Testimonios-comentario{
    width: 70%;
    margin: auto;
}
.Testimonios-wrapper{
    /* width: 70%; */
    display: grid;
    gap: 1.5rem;
    margin:2rem auto;
    grid-template-columns: repeat(4 , 1fr);
}
.Testimonios-title{
    /* width: 70%; */
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--darkgreencolor);
    border-bottom: 1.7px solid var(--coralcolor);
    font-family: 'Playfair Display', serif;
}
.Testimonios-container{
    width: 100%;
    height: 100%;
    background-color: var(--cremecolor);
    margin: auto;
    border-radius: 2rem;
}
.Testimonios-container:hover{
    transform: scale(1.05);
}
/* TODO: arreglar la caja contedora del texto para hacer que se corte y aparezcan los puntos suspensivos */
.Usuario{
    text-align: center;
    padding: 2rem;
    filter: grayscale(30%);
    /* overflow: hidden;
    text-overflow: ellipsis; */
}
.Usuario-foto{
    width: 4.5rem;
    min-height: 4.5rem;
    border-radius:2rem;
    /* background-color: #ff6d4e; */
    margin: auto;
}
.Usuario--lorenzo{
    background-image: url(../assets/Lorenzo.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.Usuario--camila{
    background-image: url(../assets/Camila11.webp);
    background-size: cover;
}
.Usuario--nadia{
    background-image: url(../assets/Nadia11_11.webp);
    background-size: cover;
}
.Usuario--alejandro{
    background-image: url(../assets/Alejandro1.webp);
    background-size: cover;
}
.Usuario-h3{
    font-size: 1.1em;
    margin: 1.5rem 0;
    font-weight: 400;
    color: var(--darkgreencolor);
    font-family: 'Playfair Display', serif;
}
.Usuario-span{
    font-size: .9em;
    font-weight: 200;
    color: var(--darkgreencolor);
}
/* Sección pie de página con enlaces, iconos y logo*/
.Footer{
    width: 100%;
    background-color: var(--greencolor);
}
.Footer-wrapper{
    width: 85%;
    /* background-color: aquamarine; */
    margin: auto;
    position: relative;
    padding: .4rem;
}
.Footer-logo{
    width: 11rem;
    /* background-color: gray; */
    position: absolute;
    left: 85%;
    bottom: 77%;
}
.Footer-img{
    width: 100%;
    max-height: fit-content;
    filter: invert(65%) sepia(8%) saturate(609%) hue-rotate(52deg) brightness(94%) contrast(88%);
    transform: rotateZ(324deg);
}
.Footer-info{
    width: 100%;
    /* background-color: pink; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8rem;
    margin: 1rem;
    color: var(--cremecolor);
}
.Footer-title:hover,
.Footer-line:hover{
    color: var(--coralcolor);
}
.Footer-title:active,
.Footer-line:active{
    color: var(--darkgreencolor);
}
.Footer-column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin: 1.5rem;
}
.Footer-line{
    font-weight: 200;
    font-size: 1em;
}
.Footer-text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin: 1.5rem;
}
.Footer-ul{
    /* background-color: cadetblue; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.Footer-li{
    /* width: 40%; */
    margin: 0 0 3rem 3rem;
    border: .0625rem solid var(--cremecolor);
    padding: .5rem;
    border-radius: var(--borderRadius-one);
}
/* Al hacer hover cambia el color indicando al usario que puede interactuar con el */
.Footer-li:hover{
    border: .0625rem solid var(--coralcolor);
}
.Footer-li:active{
    border: 1px solid var(--darkgreencolor);
}
.Footer-svg{
    width: 1.3rem ;
    color: var(--cremecolor); 
}
/* Al hacer hover cambia el color indicando al usario que puede interactuar con el */
.Footer-svg:hover{
    color: var(--coralcolor);
}
.Footer-svg:active{
    color: var(--darkgreencolor);
}
/* Se usa position absolute para que el logo de la web quede sobre la imagen y el color de fondo   */
/* FIX: buscar la forma corresta de modo de evitar que se desplace de manera que debamos hacer muchos responsives y no controlemos su posición */
.Footer-title--first{
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 12rem;
    right: 0rem;
    color: var(--cremecolor);
    font-size: 3.5rem;
    z-index: 1;
}    
/* El modificador va con psition relative ya que debe ir al lado de la etiqueta Title-firs */
.Footer-title--footer {
    font-size: 3.5rem;
    color: var(--coralcolor);
    position: relative;
    top: 0;
    left: 0;
}    

/* Sección Newsletter para recibir información actualizada de nuestra web */
.Newsletter{
    width: 70%;
    min-height:20vh;
    background-color: var(--cremecolor);
    border-radius: 2rem;
    margin: 7rem auto;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Newsletter-wrapper{
    width: 90%;
    /* background-color: aquamarine; */
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Newsletter-span{
    font-size: 1.8rem;
    color: var(--coralcolor);
    text-transform: uppercase;
    font-weight: 500;
}

.Newsletter-form{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.Newsletter-input{
    width: 16rem;
    /* min-height: 1.875rem; */
    /* background-color: blue; */
    border-bottom: .0625rem solid var(--coralcolor);
    font-size: .9375rem;
    font-weight: 100;
    outline: none;
    background-color: transparent;
}
.Newsletter-a{}
.Newsletter-button{
    /* width: rem; */
    background-color: transparent;
}
.Newsletter-svg{
    width: 1.3rem ;
    color: var(--coralcolor); 
}



/* Sección RESPONSIVE */
@media (max-width: 1100px){
    .Header-li{
        width: 30%;
        font-size: .9em;
    }
    .Grid-wrapper{
        width: 85%;
        grid-template-columns: repeat(2 , 1fr);
    }
    .Card-content{
        min-height: 50vh;
        /* margin-top: 4rem; */
    }
    .Card-text{
        width:70% ;
        font-size: 1rem;
    }
    .Card-h3{
        font-size: 1rem;
    }
    .Card-button{
        font-size: 1rem;
    }
    /* FIX: Buscar la forma de que el grid de los testimonios no se alargue infinitamente, pero al darle altura rompe la estructura */
    .Testimonio-wrapper{
        width: 80%;
        grid-template-columns: repeat(3 , 1fr);
        /* height: 10vh; */
    }    
    .Footer-logo{
        width: 16rem;
    }
    .Footer-info{
        gap:0
    }
    .Footer-a{
        font-size: .9rem;
    }
    .Footer-line{
        font-size: .8em;
    }
    .Footer-logo{
        display: none;
    }
    .Footer-title--first{
        font-size: 2rem;
        left: 50%;
    }
    .Footer-title--footer{
        font-size: 2rem;
    }
    .Footer-li{
        margin: 0 0 1em 3em;
        padding: .4em;
    }
    .Newsletter{
        width: 70%;
    }
    .Newsletter-span{
        font-size: 1.4rem;
    }
}


/* Sección RESPONSIVE 2*/
@media (max-width:850px){
      /* Poner display none al header y que aparezca el menu hamburguesa desde los 880px */
    .Header-nav{
        width: 50%;
        height: 100%;
        display: none;
    }
    .Header-nav.isActive{
        display: b;
    }
    .Header-ul{
        /* display: none; */
        flex-direction: column;
        gap: 3rem;
        padding: 1rem;
        /* background-color: var(--greencolor); */
    }
    .Header-link{
        top: 7rem
    }
    .Header-button{
        display: block; 
        width: 5rem;
        color: var(--coralcolor);
    }
    .Header-wrapper{
        width: 30%;
    }
    
    .Slider-icon{
        width: 3rem;
        height: 3rem;
    }
    .Slider-point{
        width: 1.2rem;
        height: 1.2rem;
        margin-bottom: 3rem;
    }
    .Slider-title{
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .Grid-wrapper{
        width: 70%;
        /* background-color: aquamarine; */
        margin: auto;
        grid-template-columns: repeat(1 , 1fr);
        gap: 2rem;
    }   
    .Card-h3{
        font-size: 1.1rem;
    }
    .Card-text{
        font-size: .8rem;
        margin: 2rem auto 1.3rem;
    }
    .Card-button{
        font-size: .8rem;

    }
    .Testimonios-title{
        /* width: 80%; */
        font-size: 1em;
        margin: 7rem auto 0 ;
    }
    .Testimonios-wrapper{
        width: 100%;
        /* margin: auto; */
        grid-template-columns: repeat(2, 1fr);
    }
    .Usuario-span{
        font-size: .8rem;
    }
    .Usuario-h3{
        font-size: 1rem;
    }
    .Footer-info{
        width: 100%;
        /* flex-direction: column; */
    }
    .Footer-ul{
        flex-flow: row wrap;
    }
    .Footer-img{
        /* position: absolute; */
        left: 0rem;
        bottom: 0rem;
        width: 8rem;
    }
    .Footer-title--first{
        /* font-size: 2rem;
        left: 100%; */
        display: none;
    }
    .Newsletter{
        width: 70%;
    }
    .Newsletter-span{
        font-size: 1.1rem;
    }
}

/* Sección RESPONSIVE 3 */
@media (max-width: 480px){
    .Header-nav{
        /* width: 100%; */
        /* transform: translateY(-100%); */
    }
    .Header-title{
        display: none;
    }
    .Header-img{
        display: none;
    }
    .Header-wrapper{
        width: 100%;
    }
    .Header-ul{
        width: 50%;
    }
    /* FIX: modificar el tamaño, posición o error que genera el logo o la imagen que provoca SCROLL lateral */
    .Header-title--first{
        font-size: 2rem;
        left: 13rem;
        bottom: 18rem;
    }
    .Header-title--footer{
        font-size: 2rem;
        /* left: 50%; */
    }
    .Slider-text{
        font-size: rem;
    }
    .Slider-img{
        height: 60vh;
    }
    .Slider-ul{
        padding: 0;
    }
    .Slider-diapositiva{
        height: 70vh;
    }
    .Grid-h2{
        margin: 1rem auto;
    }
    .Card-content{
        height: 30vh;
    }
    .Testimonios-container{
        height: 30vh;
    }
    .Testimonios-wrapper{
        width: 90%;
        grid-template-columns: 1fr;
    }
    .Usuario-span{
        font-size: .6rem;
    }
    .Usuario-h3{
        font-size: .8rem;
        margin: .7rem 0;
    }
    .Usuario-foto{
        width: 3rem;
        min-height: 3rem;
    }
    .Newsletter{
        width:90%;
    }
    .Newsletter-wrapper{
        flex-flow: row wrap;
        
    }
    .Newsletter-span{
        font-size: 1rem;
    }
    .Newsletter-input{
        width: 7rem;
    }

    .Footer-info{
    flex-direction: column;
    }
    .Footer-text{
        font-size: 8.rem;
        left:0;
        bottom: 0;
    }
    .Footer-title--first{
        display: none;
    }
    .Footer-li{
        margin: 0 0 1em 1em;
    }
    .Footer-img{
        display: none;
    }
    
}